/* screenshot-klassen */
#main-header.shootMe001 { }

/*** @export "body" css */
body, p, span  {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:16px;
    color:#666;
}

a {
    text-decoration:none;
    color:#666;
}

/*** @export "main-content" css */
#main-content {
    max-width:600px;
}

/*** @export "heading" css */
#title-heading ,
#ExampleContentPage-UeberschriftH1, 
#ExampleContentPage-UeberschriftH2,
#ExampleContentPage-UeberschriftH3,
#ExampleContentPage-UeberschriftH4,
#ExampleContentPage-UeberschriftH5,
#ExampleContentPage-UeberschriftH6 {
    font-weight:normal;
}

#title-heading * {
    font-size:26px;
    line-height:32px;
    color:#000;
}

#ExampleContentPage-UeberschriftH1 { 
    font-size:22px;
    line-height:27px;
    color:#000;
    border-bottom:1px solid #bebebe;
}

#ExampleContentPage-UeberschriftH2 {
    font-size:20px;
    line-height:25px;
    color:#666;
    border-bottom:1px solid #bebebe;
}

#ExampleContentPage-UeberschriftH3 {
    font-size:18px;
    line-height:23px;
    color:#000;
}

#ExampleContentPage-UeberschriftH4 {
    font-size:16px;
    line-height:21px;
    color:#666;
}

#ExampleContentPage-UeberschriftH5 {
    font-size:14px;
    line-height:19px;
    color:#666;
}

#ExampleContentPage-UeberschriftH6 {
    font-size:13px;
    line-height:18px;
    color:#666;
}

/*** @export "tasklist" css */
ul > li { }
ul > li.first { }
ul > li.last { }

ul > li > ul > li { }
ul > li > ul > li.first { }

ul > li > ul > li > ul > li { }
ul > li > ul > li > ul > li.first { }

ul > li > ul > li > ul > li > ul > li { }
ul > li > ul > li > ul > li > ul > li.first { }

ul > li > ul > li > ul > li > ul > li > ul > li { }
ul > li > ul > li > ul > li > ul > li > ul > li.first { }


ol > li {}
ol > li > ol > li {}
ol > li > ol > li > ol > li {}

ul.linlie-task-list li {
}

/*** @export "table" css */
table{
    border-spacing:0;
    margin-bottom:25px;
    width:100%;
}

div.table-wrap table thead tr {
    background-color:#666;
    color:#fff;
}

/*** @export "table-wrap" css */
div.table-wrap table thead tr th {
   margin:0; 
    border:0;
    border-left: 1px solid #fff;
}
div.table-wrap table thead tr th:first-child {
    border:0;
}

div.table-wrap table thead tr th ,
div.table-wrap table tbody tr th ,
div.table-wrap table td {
    padding:8px 8px 8px 8px ;
}

div.table-wrap table td {
    border-bottom:1px solid #666;
    border-left:1px solid #666;
}
div.table-wrap table td:first-child {
    border-left:0;
}

div.table-wrap table th.first ,
div.table-wrap table th.first p {
    background-color:#666;
    color:#fff;
    border-top: 1px solid #fff;
}

div.table-wrap table tbody tr:first-child td {
    border-top: 1px solid #666;
}
div.table-wrap table tbody tr:first-child th {
    border-top:0;
}

/*** @end */

blockquote { }

div.panel {
    background-color:#e5e5e5;
    padding:14px;
    margin-bottom:10px;
}

div.panel p.last ,
div.panelMacro table {
    margin:0!important;
    padding:0;
}

div.panelMacro {
    margin-bottom:10px;
    padding:14px;
    background-color:#e5e5e5;
}
div.panelMacro table.tipMacro {
    background-color:#e5e5e5;
}
div.panelMacro td:first {} 
div.panelMacro td:first + td {} 


